<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Registration</title>
</head>

<body>
	<main>
		<%- include('partials/_header') %>
			<h1>Create Account</h1>
			<form action="/register" method="POST">
				<label for="email">Email</label>
				<input type="email" name="email" placeholder="Enter your email..." style="width: 600px; margin: 1em" />
				<br />
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Enter a password..." style="width: 600px; margin: 1em" />
				<br />
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
	</main>
</body>

</html>